  * {
    box-sizing: border-box;
    /* border: 1px solid red; */}
  
  body {
    width: 90%;
    margin: 0px 5% 5% 5%;
    font-family: "Segoe UI", Arial, Verdana, sans-serif;
    color: #5f5f5f;}

  p {
    margin-bottom: 20px;
    font-size: 1.2em;}

  div {
    border-radius: 5px;}
  
  @media only screen and (max-width: 768px) {
    #nav-li {
      display: block;
      padding-bottom: 10px;
      min-width: 238.03px;}
    .navdiv {
      height: 102px;
      overflow: hidden;}
  }
  @media only screen and (min-width: 769px) {
    .navdiv {
      max-height: 174px;}
    .nav-button {
      display: none;}
  }
  @media only screen and (min-width: 461px) { /* 461px for pages with scroll bar, 445 for pages without */
  .logo {
    width: 400px;}
  }

  img, iframe {
    -webkit-user-select: none;}

  .navdiv {
    background-color: #5f5f5f;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 0px 0px 1% 0px;
    border-top: 1px solid #5f5f5f;
    border-bottom: 1px solid #5f5f5f;
    border-radius: 5px;
    -webkit-user-select: none;
    transition: 0.4s;}
  .nav-content {
    padding: 0px;}
  .nav-button {
        width: 70px;
        height: 80px;}
    .burger {
      display: inline-block;
      width: 36px;
      height: 6px;
      background-color: #f69220;
      font-size: 36px;
      position: relative;
      border-radius: 3px;
      top: 0px;
      transform: rotate(0deg);
      transition: 0.4s;}
      .open1-1 {
        top: 15px;
        transition: 0.2s;}
      .open1-2 {
        transform: rotate(45deg);
        width: 50px;
        transition: 0.2s;}
      .open2-1 {
        visibility: hidden;
        transition: 0.2s;}
      .open3-1 {
        top: -15px;
        transition: 0.2s;}
      .open3-2 {
        transform: rotate(-45deg);
        width: 50px;
        transition: 0.2s;}
      .show {
        height: 452px;
        transition: 0.4s;}
  .nav-button {
    background-color: #5f5f5f;
    border: 2px solid #f69220;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;}
    .nav-button:hover {
      background-color: #f69220;
      transition: 0.4s;}
    .nav-button:hover > .burger {
      background-color: #5f5f5f;
    }
    .nav-li {
      display: inline-block;
      margin: 10px 0px;}
    .nav-link {
      padding: 10px;
      background-color: #5f5f5f;
      color: #f69220;
      text-decoration: none;
      border-radius: 5px;}
      .nav-link:hover {
        background-color: #f69220;
        color: #5f5f5f;}

  .content {
    border: 1px solid #5f5f5f;
    margin-bottom: 5%;
    min-width: 304px;}
    .content2 {
      margin: 0px 2% 2% 2%;}

  .warningborder {
    border: 4px dashed red;
    background-color: #f69220;
    margin-bottom: 10px;
    clear: both;}
    .warningdiv {
      padding: 20px 0px;
      margin: 0px;
      background-color: #fff;
      text-align: center;}
      .warningtext {
        margin: 0px;}
/* made by Simon Adrian */