  * {
    box-sizing: border-box;
    /* border: 1px solid red; */
  }
  body {
    width: 90%;
    margin: 0px 5% 5% 5%;
    font-family: "Segoe UI", Arial, Verdana, sans-serif;
    color: #5f5f5f;}

  p {
    margin-bottom: 20px;
    font-size: 1.2em;}

  div {
    border-radius: 5px;}
  
  @media only screen and (max-width: 500px) {
    .nav-li {
      width: 400px;
    }
  }

  .navdiv {
    background-color: #5f5f5f;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 0px 0px 1% 0px;
    border-top: 1px solid #5f5f5f;
    border-bottom: 1px solid #5f5f5f;
    min-width: 400px;
    border-radius: 5px;}
  .nav-button {
    background-color: #5f5f5f;
    border: 2px solid #f69220;
    border-radius: 5px;
    cursor: pointer;}
    .nav-button:hover {
      background-color: #f69220;}
  .nav {
    display: none;}
  .nav-li {
    display: inline-block;
    margin: 10px 0px;}
  .nav-link {
    padding: 10px;
    background-color: #5f5f5f;
    color: #f69220;
    text-decoration: none;
    border-radius: 5px;}
    .nav-link:hover {
      background-color: #f69220;
      color: #5f5f5f;

  .content {
    border: 1px solid #5f5f5f;
    margin-bottom: 5%;
    min-width: 304px;}
  .content2 {
    margin: 0px 2% 2% 2%;}

  .warningborder {
    border: 4px dashed red;
    background-color: #f69220;
    margin-bottom: 10px;
    clear: both;}
    .warningdiv {
      padding: 20px 0px;
      margin: 0px;
      background-color: #fff;
      text-align: center;}
      .warningtext {
        margin: 0px;  }